<launch>
	<node pkg="LMS1xx" name="LIDAR" type="LMS100">
	</node>

	<node pkg="laser_tf_py" name="laser_tf" type="laser_tf_broadcaster.py">
	</node>

	<node pkg="pointcloud_publisher" name="pointcloud_publisher" type="pointcloud_publisher">
	</node>
      
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args=" .9144 .1524 .3048 .5 -.5 .5 -.5 /base_link /bluefox 100"/>

	<include file="$(find mv_bluefox_driver)/launch/camera_node.launch"/>	
	<!-->
	<node pkg="lidar_object_publisher" name="euclidean_buoy_extractor" type="euclidean_buoy_extractor">
	</node>
	</-->

	
</launch>
