<launch>
	<node pkg="LMS1xx" name="LIDAR" type="LMS100">
	</node>

	<node pkg="laser_tf_py" name="laser_tf" type="laser_tf_broadcaster.py">
	</node>

	<node pkg="pointcloud_publisher" name="pointcloud_publisher" type="pointcloud_publisher">
	</node>
      
	<node pkg="lidar_object_publisher" name="euclidean_buoy_extractor" type="euclidean_buoy_extractor">
	</node>
</launch>
