<launch>
    <arg name="st_port" default="/dev/serial/by-id/usb-uf-mil_subbus_d687e66c-if00"/>
    <arg name="st_dest" default="0xd687e66c"/>

    <group ns="motor_control">
        <node pkg="motor_control" type="thruster_control.py" name="thruster_control"/>
        <node pkg="stm32f3discovery_imu_driver" type="stm32f3discovery_imu_driver" name="pwm_gen">
            <param name="port" value="$(arg st_port)"/>
            <param name="dest" value="$(arg st_dest)"/>
        </node>
    </group>
</launch>
