<launch>
  <node pkg="boatsim" type="thruster_conn" name="thruster_conn_fr" args="FR 10030" respawn="true"/>
  <node pkg="boatsim" type="thruster_conn" name="thruster_conn_fl" args="FL 10031" respawn="true"/>
  <node pkg="boatsim" type="thruster_conn" name="thruster_conn_br" args="BR 10032" respawn="true"/>
  <node pkg="boatsim" type="thruster_conn" name="thruster_conn_bl" args="BL 10033" respawn="true"/>

</launch>
