<launch>
  
  <node name="kill_master" pkg="kill_handling" type="kill_master" respawn="true"/>
  
  
  <node pkg="c3_trajectory_generator" type="c3_trajectory_generator" name="trajectory_generator">
    <rosparam>
      fixed_frame: /enu
      body_frame: /base_link
      vmin_b: [-0.2,  -0.5,  -0.4,   -0.75, -0.5, -1]
      vmax_b: [ 0.75,  0.5,   0.4,    0.75,  0.5,  1]
      amin_b: [-0.1,  -0.05, -0.1,   -1.5,  -0.2, -0.15]
      amax_b: [ 0.18,  0.05,  0.125,  1.5,   0.2,  0.15]
      arevoffset_b: [0.05, 0, 0]
      umax_b: [ 0.25,  0.25,  0.25,   0.1,   0.1,  0.1]
    </rosparam>
    <remap from="odom" to="sim_odom"/>
  </node>
  
  <node pkg="controller" type="pd_controller.py" name="controller">
    <remap from="odom" to="sim_odom"/>
  </node>
  
  <node pkg="thruster_mapper" type="thruster_mapper" name="thruster_mapper" respawn="true"/>
  
  <include file="$(find propagator_motor_driver)/launch/start_motor_driver.launch">
    <arg name="port_prefix" value="/tmp/thruster_"/>
  </include>
  
  <node pkg="boat_sim" type="thruster_conn" name="thruster_conn_FR" args="/tmp/thruster_FR 10030" respawn="true"/>
  <node pkg="boat_sim" type="thruster_conn" name="thruster_conn_FL" args="/tmp/thruster_FL 10031" respawn="true"/>
  <node pkg="boat_sim" type="thruster_conn" name="thruster_conn_BR" args="/tmp/thruster_BR 10032" respawn="true"/>
  <node pkg="boat_sim" type="thruster_conn" name="thruster_conn_BL" args="/tmp/thruster_BL 10033" respawn="true"/>

  <include file="$(find legacy_vision)/launch/legacy_vision.launch">
    <arg name="camera" value="mv_bluefox_camera_node"/>
  </include>

  

</launch>
