<launch>
    <arg name="simulate" default="false"/>
    <arg name="visualize" default="false"/> 
<node if="$(arg visualize)" name="azi_drive_visualizer" pkg="azi_drive" type="visualize_azi_drive.py" 
         output="screen" /> 
<node name="azi_waypoint" pkg="azi_drive" type="azi_waypoint.py" 
         output="screen" /> 
<node name="azi_drive" pkg="azi_drive" type="azi_drive_node.py" output="screen">
	<param name="simulate" value="$(arg simulate)"/>
	</node> 

</launch>
