<launch>
   	
	<node pkg="server_interaction" type="gate_code_provider.py" name="gate_code_provider" output="screen" />
	<node pkg="server_interaction" type="heartbeat_sender.py" name="heartbeat" output="screen" />	
	<node pkg="server_interaction" type="url_scanner.py" name="url_challenge_course_provider" output="screen" />

 </launch>
