<launch>

   	<include file="$(find server_interaction)/launch/json_services.launch"/>
   	<node pkg="server_interaction" type="url_course_provider.py" name = "url_course_provider" output = "screen" />
   	<node pkg="server_interaction" type="heartbeat_sender.py" name="heartbeat" output="screen" />
	<node pkg="server_interaction" type="docking_bay_provider.py" name="dokcing_bay_provider" output="screen" />
	<node pkg="server_interaction" type="gate_code_provider.py" name="gate_code_provider" output="screen" />	
	<node pkg="server_interaction" type="server_image_getter.py" name="from_server_image_getter" output="screen" />

 </launch>
