<launch>
  <node name="motor_newtons" pkg="motor_control" type="thruster_control.py"/>
  <node name="pd_controller" pkg="controller" type="PID_controller.py">
      <rosparam>{p_x: 20, i_x: 25, d_x: 50, p_y: 20, i_y: 1, d_y: 0, p_z: 40, i_z: 5, d_z: 0}</rosparam>
  </node>

  <group ns="controller">
  	<node name="control_arbiter" pkg="controller" type="control_arbiter.py"/>
  </group>
  <node name="remote_control" pkg="remote_control" type="rc_script.py"/>

</launch>
