<launch>
  <arg name="port" default="/dev/input/js0"/>
  
  <node name="motor_newtons" pkg="motor_control" type="thruster_control.py"/>
  <node name="pd_controller" pkg="controller" type="pd_controller.py" output="screen"/>
  <node name="control_arbiter" pkg="controller" type="control_arbiter.py" output="screen"/>
  <node name="joy" pkg="joy" type="joy_node" output="screen">
  	<param name="dev" value="$(arg port)"/>
  </node>
  <node name="remote_control" pkg="remote_control" type="rc_script.py" output="screen"/>

</launch>
