<launch>
  <!-- Launches on BOAT -->

  <include file="$(find boat_launch)/launch/navigation.launch"/>
  <include file="$(find boat_launch)/launch/run.launch" />
  <include file="$(find azi_drive)/launch/run_azi.launch"/>
  <include file="$(find boat_launch)/launch/controller.launch"/>
  <include file="$(find ueye_cam)/launch/rgb8.launch"/>
  <node pkg="camera_docking" name="docking_camera" type="find_signs.py"/>
  <node pkg="server_interaction" name="server_interaction" type="json_server_node.py"/>

 <!-- Launches on laptop one day

  <machine name="rc_computer" address="zachgoins" env-loader="/opt/ros/indigo/env.sh" user="zachgoins" password="belle0723"/>

  <node machine="rc_computer" name="joy_node" pkg="joy" type="joy_node" />

-->


</launch>

