<launch>

<node name="propadriver" pkg="uf_propadriver" type="propadriver">
<rosparam>
port: /dev/serial/by-id/usb-FTDI_Dual_RS232-if00-port0
frame_id: /base_link
m1:
   id: FR
   rev_force: 5.37
   fwd_force: 6.25
   position: [.729401, -0.23495, -0.241308]
   direction: [0.86602540378, 0.5, 0]
m2:
   id: FL
   rev_force: 5.37
   fwd_force: 6.25
   position: [.729401, 0.23495, -0.241308]
   direction: [0.86602540378,-0.5, 0]
m3:
   id: BR
   rev_force: 5.37
   fwd_force: 6.25
   position: [-0.821269, -0.23495, -0.241308]
   direction: [0.86602540378, -0.5, 0]
m4:
   id: BL
   rev_force: 5.37
   fwd_force: 6.25
   position:  [-0.821269, 0.23495, -0.241308]
   direction: [0.86602540378, 0.5, 0]
</rosparam>
</node>


</launch>

