<launch>

  <node pkg="sparton_ahrs8" type="sparton_ahrs8" name="imu_driver">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_TTL232R-3V3_FTFUXEDU-if00-port0"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="-.7366 -.1778 .1778  0.5 -0.5 -0.5 0.5  base_link imu 100"/>
  <node pkg="nodelet" type="nodelet" name="magnetic_hardsoft_compensation" args="standalone magnetic_hardsoft_compensation/nodelet">
    <param name="frame_id" type="string" value="/imu"/>
    <rosparam>
XXX
    </rosparam>
  </node>


  <node pkg="skytraq_driver" type="skytraq_driver" name="gps_driver">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DA0032VC-if00-port0"/>
    <param name="frame_id" value="/gps"/>
  </node>
  <node pkg="skytraq_driver" type="parser" name="gps_parser">
    <param name="frame_id" value="/gps"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster"
    args="0.40 -0.40 0  0 0 0 1  /base_link /gps 100" />

  <node pkg="nodelet" type="nodelet" args="standalone odom_estimator/nodelet" name="odom_estimator" respawn="true">
    <remap from="odom" to="imu_odom"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry"><rosparam>
      frame_id: /enu
      child_frame_id: /base_link
    </rosparam>
    <remap from="orig_odom" to="imu_odom"/>
  </node>
  <node pkg="odometry_utils" type="odometry_to_tf" name="odometry_to_tf"/>
  
  <!--<node pkg="power_router" type="power_router" name="power_router">
 	<param name="port" value="/dev/ttyPowerRouter"/>
  </node>
  
  <node pkg="ioboard" type="ioboard_sub.py" name="io_board"/>-->
        
</launch>
