<launch>

  <node pkg="microstrain_3dmgx1" type="gx1_publisher.py" name="imu_driver">
    <param name="port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0"/>
    <param name="frame_id" value="/imu"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster"
    args=".076 .356 .102  .5 -.5 -.5 -.5  base_link imu 100" /> <!-- -9" -11" 7" -->
  <node pkg="nodelet" type="nodelet" name="magnetic_hardsoft_compensation" args="standalone magnetic_hardsoft_compensation/nodelet">
    <param name="frame_id" type="string" value="/imu"/>
    <rosparam>
scale:
- [1.0069397963511142, 0.012026411408201517, -0.004950038128403483]
- [0.012026411408201517, 0.9946602804346427, -0.002734595050040069]
- [-0.004950038128403511, -0.002734595050040097, 0.9986151549538091]
shift: [3.940740301160063e-06, 3.889613985839648e-06, -1.4399265951226065e-06]
    </rosparam>
  </node>

  <node pkg="skytraq_driver" type="skytraq_driver" name="gps_driver">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DA0032VC-if00-port0"/>
    <param name="frame_id" value="/gps"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster"
    args="0.559 .267 -.051 0 0 0 1  /base_link /gps 100" />

<node pkg = "depth_driver" name="fake_depth" type="fake_depth"/>

<!--


<node pkg="legacy_ukf" type="legacy_ukf" name="legacy_ukf" respawn="true"><rosparam>
    fixed_frame: /map
    localMagneticVector: [-2244.2, 24151.0, -40572.8]
    latitudeDeg: 29.651388889
    vel_sigma: [0.4, 0.4, 0.4]
    att_sigma: [0.5, 0.5, 0.5]
</rosparam>
    <remap from="worldvel" to="gps_vel"/>
    <remap from="odom" to="imu_odom"/>
</node>
-->
  <node pkg="kalman_6dof" type="kalman_6dof" name="kalman_6dof" respawn="true">
    <param name="hack_down_ref" value="false"/>
    <remap from="ins" to="imu_odom"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry"><rosparam>
      frame_id: /map
      child_frame_id: /base_link
    </rosparam>
    <remap from="orig_odom" to="imu_odom"/>
  </node>
  <node pkg="odometry_utils" type="odometry_to_tf" name="odometry_to_tf"/>

</launch>
