<launch>

  <node pkg="sparton_ahrs8" type="sparton_ahrs8" name="imu_driver">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_TTL232R-3V3_FTFUXEDU-if00-port0"/>
  </node>
  <!--NOTE: According to the documentation in the ahrs8 pkg, it currently(07/25) states x+ is opisite the cable and z+ is opposite the qr code/logo-->
  <!--NOTE: On propagator 2 the args might possibly be +0.13 0 -0.10  0 1 0 0 if the above is correct (so rotated 180 about x)-->
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="+0.13 0 -0.10  1 0 0 0  base_link imu 100"/>
  <node pkg="nodelet" type="nodelet" name="magnetic_hardsoft_compensation" args="standalone magnetic_hardsoft_compensation/nodelet">
    <param name="frame_id" type="string" value="/imu"/>
    <rosparam>
scale:
- [1.006281290432856, -0.0006003491790027011, -0.0029163074084483276]
- [-0.0006003491790026937, 0.9982115395495025, -0.00069099197002007]
- [-0.0029163074084482586, -0.0006909919700200012, 0.9955476886598489]
shift: [-7.408751124756462e-07, 1.6277092058570342e-06, -2.41066154536866e-06]
    </rosparam>
  </node>


  <node pkg="skytraq_driver" type="skytraq_driver" name="gps_driver">
    <param name="port" value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0"/>
    <param name="frame_id" value="/gps"/>
  </node>
  <node pkg="skytraq_driver" type="parser" name="gps_parser">
    <param name="frame_id" value="/gps"/>
  </node> 
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster"
    args="-0.84 0 +0.2  0 0 0 1  /base_link /gps 100" />

  <node pkg="nodelet" type="nodelet" args="standalone odom_estimator/nodelet" name="odom_estimator" respawn="true">
    <remap from="odom" to="imu_odom"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry"><rosparam>
      frame_id: /enu
      child_frame_id: /base_link
    </rosparam>
    <remap from="orig_odom" to="imu_odom"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="odometry_to_tf" args="standalone odometry_utils/odometry_to_tf"/>
  
  <!--<node pkg="power_router" type="power_router" name="power_router">
 	<param name="port" value="/dev/ttyPowerRouter"/>
  </node>
  
  <node pkg="ioboard" type="ioboard_sub.py" name="io_board"/>-->
        
</launch>
