<launch>
  <!--include file="$(find legacy_vision)/launch/legacy_vision.launch">
    <arg name="camera" value="mv_bluefox_camera_node"/>
  </include-->

  <include file="$(find dynamixel_servo)/launch/dynamixel_servo_server.launch"/>

  <include file="$(find boat_launch)/launch/navigation.launch"/>

  <include file="$(find propagator_description)/launch/display.launch"/>

  <node pkg="stm32f3discovery_imu_driver" type="stm32f3discovery_imu_driver" name="stm32f3discovery_imu_driver">
    <param name="port" value="/dev/serial/by-id/usb-uf-mil_subbus_6893fee7-if00"/>
    <param name="dest" value="0x6893fee7"/>
    <remap from="imu/data_raw" to="stmimu/data_raw"/>
    <remap from="imu/mag_raw" to="stmimu/mag_raw"/>
  </node>
</launch>
