<launch>

  <include file="$(find mv_bluefox_driver)/launch/camera_node.launch"/>
  <include file="$(find laser_tf_py)/launch/lidar.launch"/>

  <include file="$(find legacy_vision)/launch/legacy_vision.launch">
        <arg name="camera" value="mv_bluefox_camera_node"/>
  </include>

  <node ns="mv_bluefox_camera_node" pkg="image_proc" type="image_proc"
          name="image_proc" /> 

  <node pkg="rings" type="ring_detection.py" name="ring_finder"/>
  <node pkg="button" type="button_detection.py" name="button_finder"/>
        
</launch>
